CuraEngineConnection/build/
CuraEngineConnection/out/
CuraEngineConnection/.vs/CuraEngineConnection/
CuraEngineConnection/.vs/VSWorkspaceState.json
CuraEngineConnection/.vs/VSWorkspaceState.json
CuraEngineConnection/.vs/cmake.db
CuraEngineConnection/.vs/slnx.sqlite
CuraEngineConnection/CMakeUserPresets.json
CuraEngineConnection/conan.lock
CuraEngineConnection/graph_info.json
CuraEngineConnection/.vs/ProjectSettings.json
.stbuild/.nuke/temp/
.stbuild/build/bin/
.stbuild/build/obj/
.stbuild/hash/
.stbuild/temp/
lfs/*
**/bin/
**/obj/
hooks/*
CuraEngineConnection/conanbuildinfo.txt
CuraEngineConnection/conaninfo.txt
CuraEngineConnectionTest/main/.vs/
